Repository zmoore-usgs/coastal-hazards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build dependencies, rserve

.gitlab-ci.yml:

---
include:
  - project: "ctek/gitlab/pipeline/templates"
    file: "linting/dockerfile-lint-template.yml"
    ref: 1.0.12

stages:
  - .pre
  - lint
  - build

.build_functionality:
  stage: build
  image: docker:stable-git
  services:
    - docker:stable-dind
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - docker build --tag $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest -f $IMAGE_NAME/Dockerfile.gitlab .
  after_script:
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest
  rules:
    - changes:
      - "$IMAGE_NAME/*"
      when: on_success
    - if: $CI_COMMIT_TAG
      when: always
    - when: on_success


build dependencies:
  stage: .pre
  image: docker:stable-git
  services:
    - docker:stable-dind
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - docker build --tag $CI_REGISTRY_IMAGE:dependencies -f Docker/dependencies/Dockerfile .
  after_script:
    - docker push $CI_REGISTRY_IMAGE:dependencies
  rules:
    - changes:
      - "**/pom.xml"
      - Docker/dependencies/Dockerfile
      - Docker/dependencies/artifactory-settings.xml
      - coastal-hazards-geoserver/Dockerfile.gitlab
      - coastal-hazards-liquibase/Dockerfile.gitlab
      - coastal-hazards-n52/Dockerfile.gitlab
      - coastal-hazards-portal/Dockerfile.gitlab

dockerfile:
  stage: lint
  extends: .dockerfile-lint-template
  allow_failure: false
  # rules:
  #   - if: $CI_COMMIT_TAG
  #     when: never
  #   - changes:
  #       - "**/Dockerfile*"
  #     when: on_success

portal:
  extends: .build_functionality
  variables:
    IMAGE_NAME: coastal-hazards-portal

n52:
  extends: .build_functionality
  variables:
    IMAGE_NAME: coastal-hazards-n52

geoserver:
  extends: .build_functionality
  variables:
    IMAGE_NAME: coastal-hazards-geoserver

liquibase:
  extends: .build_functionality
  variables:
    IMAGE_NAME: coastal-hazards-liquibase

rserve:
  stage: build
  image: docker:stable-git
  variables:
    IMAGE_NAME: rserve
  services:
    - docker:stable-dind
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - docker build --tag $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest -f Docker/$IMAGE_NAME/Dockerfile.gitlab .
  after_script:
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest
  rules:
    - changes:
      - "Docker/rserve/*"
      when: on_success
    - if: $CI_COMMIT_TAG
      when: always

Fix up Dockerfile, use Artifactory to grab psi-probe
  coastal-hazards-geoserver/Dockerfile.gitlab
  coastal-hazards-n52/Dockerfile.gitlab
  coastal-hazards-portal/Dockerfile.gitlab
Due: build dependencies

Fix hadolint issues
  .gitlab-ci.yml
  .hadolint.yaml
  Docker/rserve/Dockerfile.gitlab
  coastal-hazards-liquibase/Dockerfile.gitlab
  coastal-hazards-n52/Dockerfile.gitlab
  coastal-hazards-portal/Dockerfile.gitlab
Due: build dependencies, rserve

Add pkg-config to rserve
  Docker/rserve/Dockerfile.gitlab
Due: rserve

slight formatting change
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/SLDConfig.java
Due: none

added uvvr-raster
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/Attributes.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/RasterUVVR.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/SLDGenerator.java
  coastal-hazards-portal/src/main/webapp/WEB-INF/jsp/SLD/raster_uvvr.jsp
  coastal-hazards-portal/src/test/java/gov/usgs/cida/coastalhazards/AttributesTest.java
Due: none

Add releaserc and staging attempt
  .gitlab-ci.yml
  .releaserc.yml
Due: none

Add semrel to the mix
  .gitlab-ci.yml
  .releaserc.yml
Due: none

chore(release): 1.0.0-development.1 \n\n## 1.0.0-development.1 (2020-07-15)
  .branch_identifier.txt
  CHANGELOG.md
Due: none

Update releaserc branches
  .releaserc.yml
Due: none

Attempt to build rserve
  .gitlab-ci.yml
Due: none

Fix staging
  .gitlab-ci.yml
Due: none

ci: test rserve build
  .gitlab-ci.yml
Due: none

chore(release): 1.0.0-development.2 \n\n## [1.0.0-development.2](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.1...1.0.0-development.2) (2020-07-15)
  CHANGELOG.md
Due: none

Build staging portal
  .gitlab-ci.yml
Due: none

Build staging n52
  .gitlab-ci.yml
Due: none

Build staging geoserver
  .gitlab-ci.yml
Due: none

Build staging liquibnase
  .gitlab-ci.yml
Due: none

ci: test build of all images
  .gitlab-ci.yml
Due: none

chore(release): 1.0.0-development.3 \n\n## [1.0.0-development.3](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.2...1.0.0-development.3) (2020-07-15)
  CHANGELOG.md
Due: none

uvvr-raster display/legend
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/RasterUVVR.java
  coastal-hazards-portal/src/main/webapp/WEB-INF/jsp/SLD/raster_uvvr.jsp
  coastal-hazards-portal/src/main/webapp/js/cch/objects/LayerIdentifyControl.js
  coastal-hazards-portal/src/main/webapp/js/cch/objects/widget/Legend.js
Due: none

Update Attributes.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/Attributes.java
Due: none

Update Legend.js
  coastal-hazards-portal/src/main/webapp/js/cch/objects/widget/Legend.js
Due: none

fixed RasterUvvr class name, loops, indents
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/RasterUVVR.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/RasterUvvr.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/SLDConfig.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/SLDGenerator.java
  coastal-hazards-portal/src/main/webapp/js/cch/objects/LayerIdentifyControl.js
Due: none

Added tomcat-users.xml to GeoServer Dockerfiles.
  coastal-hazards-geoserver/Dockerfile
  coastal-hazards-geoserver/Dockerfile.gitlab
Due: build dependencies

Made SSL configuration in entrypoint optional. Added missing entrypoint override to N52 Dockerfiles.
  Docker/tomcat/entrypoint.sh
  coastal-hazards-n52/Dockerfile
  coastal-hazards-n52/Dockerfile.gitlab
Due: build dependencies

Dont create dependency image when a gitlab Dockerfile changes
  .gitlab-ci.yml
Due: none

Added cert trust strategy to rserve container startup. Replaced most CIDA nexus references with WMA Artifactory in POMs. Removed unused bit of docker compose file.
  Docker/rserve/Dockerfile
  Docker/rserve/run.sh
  coastal-hazards-liquibase/pom.xml
  docker-compose.yml
  pom.xml
Due: build dependencies, rserve

ci: Attempt triggering remote project
  .gitlab-ci.yml
  .releaserc.yml
Due: none

chore(release): 1.0.0-development.4 \n\n## [1.0.0-development.4](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.3...1.0.0-development.4) (2020-07-24)
  CHANGELOG.md
Due: none

chore(release): 1.0.0-development.5 \n\n## [1.0.0-development.5](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.4...1.0.0-development.5) (2020-07-24)
  CHANGELOG.md
Due: none

Add Tomcat base image Dockerfile and update scripting slightly
  Docker/tomcat/Dockerfile
  Docker/tomcat/entrypoint.sh
Due: none

Revert changes to geoserver gitlab build.
  coastal-hazards-geoserver/Dockerfile.gitlab
Due: build dependencies

Whitespace cleanup.
  coastal-hazards-geoserver/Dockerfile.gitlab
Due: build dependencies

Initial tomcat build
  .gitlab-ci.yml
Due: none

build tomcat
  .gitlab-ci.yml
  Docker/tomcat/Dockerfile
Due: none

Rename dockerfile
  Docker/tomcat/Dockerfile
Due: none

Rename dockerfile
  Docker/tomcat/Dockerfile.gitlab
Due: none
