Repository zmoore-usgs/coastal-hazards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerfile, build dependencies, staging rserve, staging portal, staging n52, staging geoserver, staging liquibase

dockerfile:
  stage: lint
  allow_failure: false
  script:
  - for f in $(find . -name "Dockerfile.gitlab"); do echo "Testing $FLAGS $f";hadolint $f;done

build dependencies:
  stage: depndencies
  image: docker:stable-git
  services:
  - docker:stable-dind
  before_script:
  - - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE:dependencies -f Docker/dependencies/Dockerfile .
  after_script:
  ...

staging rserve:
  stage: pre-staging
  image: docker:stable-git
  services:
  - docker:stable-dind
  before_script:
  - - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - docker build --tag $STAGING_IMAGE_NAME -f $DOCKERFILE_LOCATION .
  after_script:
  - docker push $STAGING_IMAGE_NAME
  variables:
  ...

staging portal:
  stage: pre-staging
  image: docker:stable-git
  services:
  - docker:stable-dind
  before_script:
  - - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - docker build --tag $STAGING_IMAGE_NAME -f $DOCKERFILE_LOCATION .
  after_script:
  - docker push $STAGING_IMAGE_NAME
  variables:
  ...

staging n52:
  stage: pre-staging
  image: docker:stable-git
  services:
  - docker:stable-dind
  before_script:
  - - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - docker build --tag $STAGING_IMAGE_NAME -f $DOCKERFILE_LOCATION .
  after_script:
  - docker push $STAGING_IMAGE_NAME
  variables:
  ...

staging geoserver:
  stage: pre-staging
  image: docker:stable-git
  services:
  - docker:stable-dind
  before_script:
  - - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - docker build --tag $STAGING_IMAGE_NAME -f $DOCKERFILE_LOCATION .
  after_script:
  - docker push $STAGING_IMAGE_NAME
  variables:
  ...

staging liquibase:
  stage: pre-staging
  image: docker:stable-git
  services:
  - docker:stable-dind
  before_script:
  - - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - docker build --tag $STAGING_IMAGE_NAME -f $DOCKERFILE_LOCATION .
  after_script:
  - docker push $STAGING_IMAGE_NAME
  variables:
  ...

Fix click-to-identify for floodmask.
  coastal-hazards-portal/src/main/webapp/js/cch/objects/LayerIdentifyControl.js
Due: staging portal

Add dependency scanning profile to project parent POM.
  pom.xml
Due: build dependencies

feat: Made KeyCloak config file configurable via ENVs.
  coastal-hazards-portal/Dockerfile
  coastal-hazards-portal/Dockerfile.gitlab
  coastal-hazards-portal/docker/config/keycloak_tomcat_config.json
  coastal-hazards-portal/docker/keycloak.json
  coastal-hazards-portal/docker/startup.sh
  docker-compose.yml
Due: dockerfile, staging portal

chore(release): 1.0.0-development.14 \n\n## [1.0.0-development.14](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.13...1.0.0-development.14) (2020-09-09)
  CHANGELOG.md
Due: none

Make confidential port configurable.
  coastal-hazards-portal/Dockerfile
  coastal-hazards-portal/Dockerfile.gitlab
  coastal-hazards-portal/docker/keycloak.json
  coastal-hazards-portal/docker/startup.sh
Due: dockerfile, staging portal

chore(release): 1.0.0-development.15 \n\n## [1.0.0-development.15](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.14...1.0.0-development.15) (2020-09-09)
  CHANGELOG.md
Due: none

feat: Disable HTTP --> HTTPS redirect
  coastal-hazards-portal/docker/server.xml
Due: staging portal

chore(release): 1.0.0-development.16 \n\n## [1.0.0-development.16](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.15...1.0.0-development.16) (2020-09-09)
  CHANGELOG.md
Due: none

feat: Make HTTP connector 'secure' and add confiurable keycloak redirect rewrite rules.
  coastal-hazards-portal/Dockerfile
  coastal-hazards-portal/Dockerfile.gitlab
  coastal-hazards-portal/docker/keycloak.json
  coastal-hazards-portal/docker/server.xml
  coastal-hazards-portal/docker/startup.sh
Due: dockerfile, staging portal

chore(release): 1.0.0-development.17 \n\n## [1.0.0-development.17](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.16...1.0.0-development.17) (2020-09-09)
  CHANGELOG.md
Due: none

feat: Cleanup portal logging dependencies. Remove file appender from lgoback. Make logback levels configurable via ENV.
  coastal-hazards-portal/Dockerfile
  coastal-hazards-portal/Dockerfile.gitlab
  coastal-hazards-portal/docker/setenv.sh
  coastal-hazards-portal/pom.xml
  coastal-hazards-portal/src/main/resources/logback.xml
Due: dockerfile, build dependencies, staging portal

chore(release): 1.0.0-development.18 \n\n## [1.0.0-development.18](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.17...1.0.0-development.18) (2020-09-10)
  CHANGELOG.md
Due: none

Forecast and uncertainty
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/Attributes.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/ForecastUncy.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/RasterUvvr.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/SLDGenerator.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/Uvvr.java
  coastal-hazards-portal/src/test/java/gov/usgs/cida/coastalhazards/AttributesTest.java
Due: staging portal

fix typo, clean up code/comments
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/Attributes.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/Forecast.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/ForecastUncy.java
Due: staging portal

Update ForecastUncy.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/ForecastUncy.java
Due: staging portal

Add better error reporting to publish item tree.
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/gson/adapter/ItemTreeAdapter.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/TreeResource.java
Due: staging portal

Add dictionary lookup data from HazardItems. Direct port storm child metadata generation logic from HazardItems.
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/util/StormUtil.java
  coastal-hazards-portal/src/main/resources/storm_summary_dictionary.json
Due: staging portal

Extract metadata parsing logic from MetadataResource to util class. Cleanup unused MetadataResource functions. Create POJO for parsed metadata.
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/model/util/ParsedMetadata.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/MetadataResource.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/util/MetadataUtil.java
Due: staging portal

Removed unused file.
  coastal-hazards-portal/src/main/resources/summary_dictionary.json
Due: staging portal

Fix a bug where generating an Aggregation SLD for an agg that contains a shoreline and non-shoreline items would throw an exception.
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/Attributes.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/domain/DataDomainUtility.java
Due: staging portal

Fixed a bug where creating a new Aggregation item from the UI while looking at another Agg item would cause the children of the old Agg to be added to the new Agg.
  coastal-hazards-portal/src/main/webapp/js/cch/objects/publish/UI.js
Due: staging portal

Added util methods to Bbox for squaring and converting CRS.
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/model/Bbox.java
Due: staging portal

Add tests for Bbox.
  coastal-hazards-portal/src/test/java/gov/usgs/cida/coastalhazards/model/BboxTest.java
Due: staging portal

Port HazardItems Thumbnail generation logic. Add configurable basemap WMS. Tweak UI to use new Thumbnail generation endpoint.
  coastal-hazards-portal/Dockerfile
  coastal-hazards-portal/Dockerfile.gitlab
  coastal-hazards-portal/docker/context.xml
  coastal-hazards-portal/docker/setenv.sh
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/ThumbnailResource.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/util/GeoserverUtil.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/util/HttpUtil.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/util/ThumbnailUtil.java
  coastal-hazards-portal/src/main/webapp/WEB-INF/jsp/ui/info/index.jsp
Due: dockerfile, staging portal

Fetch basemap at 500x500 and then scale down because large bboxes and small sizes aren't supported by NationalMap
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/util/ThumbnailUtil.java
Due: staging portal

Remove remaining references to 52N from portal.
  coastal-hazards-portal/src/main/webapp/WEB-INF/web.xml
  coastal-hazards-portal/src/main/webapp/js/cch/util/OWS.js
Due: staging portal

update uvvr/finish forecast
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/Forecast.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/ForecastUncy.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/Uvvr.java
  coastal-hazards-portal/src/main/webapp/js/cch/objects/LayerIdentifyControl.js
Due: staging portal

Deprecate Travis for move to GitLab
  .travis.yml
Due: none

Changes based on feedback from Ivan.
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/domain/DataDomainUtility.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/gson/adapter/ItemTreeAdapter.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/model/Bbox.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/MetadataResource.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/TemplateResource.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/util/GeoserverUtil.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/util/HttpUtil.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/util/MetadataUtil.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/util/ThumbnailUtil.java
Due: staging portal

Additional changes based on feedback from Ivan.
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/domain/DataDomainUtility.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/model/Bbox.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/TemplateResource.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/ThumbnailResource.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/util/GeoserverUtil.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/util/ThumbnailUtil.java
Due: staging portal

Spellcheck
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/util/ThumbnailUtil.java
Due: staging portal

Path conditions:
  dockerfile: any of: **/Dockerfile.gitlab
  build dependencies: any of: **/pom.xml, Docker/dependencies/Dockerfile, Docker/dependencies/artifactory-settings.xml
  staging rserve: any of: Docker/rserve/*
  staging portal: any of: coastal-hazards-portal/**/*
  staging n52: any of: coastal-hazards-n52/**/*
  staging geoserver: any of: coastal-hazards-geoserver/**/*
  staging liquibase: any of: coastal-hazards-liquibase/**/*
