Repository zmoore-usgs/coastal-hazards: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dockerfile, build dependencies, staging rserve, staging portal, staging n52, staging geoserver, staging liquibase

dockerfile:
  stage: lint
  allow_failure: false
  script:
  - for f in $(find . -name "Dockerfile.gitlab"); do echo "Testing $FLAGS $f";hadolint $f;done

build dependencies:
  stage: depndencies
  image: docker:stable-git
  services:
  - docker:stable-dind
  before_script:
  - - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - docker build --tag $CI_REGISTRY_IMAGE:dependencies -f Docker/dependencies/Dockerfile .
  after_script:
  ...

staging rserve:
  stage: pre-staging
  image: docker:stable-git
  services:
  - docker:stable-dind
  before_script:
  - - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - docker build --tag $STAGING_IMAGE_NAME -f $DOCKERFILE_LOCATION .
  after_script:
  - docker push $STAGING_IMAGE_NAME
  variables:
  ...

staging portal:
  stage: pre-staging
  image: docker:stable-git
  services:
  - docker:stable-dind
  before_script:
  - - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - docker build --tag $STAGING_IMAGE_NAME -f $DOCKERFILE_LOCATION .
  after_script:
  - docker push $STAGING_IMAGE_NAME
  variables:
  ...

staging n52:
  stage: pre-staging
  image: docker:stable-git
  services:
  - docker:stable-dind
  before_script:
  - - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - docker build --tag $STAGING_IMAGE_NAME -f $DOCKERFILE_LOCATION .
  after_script:
  - docker push $STAGING_IMAGE_NAME
  variables:
  ...

staging geoserver:
  stage: pre-staging
  image: docker:stable-git
  services:
  - docker:stable-dind
  before_script:
  - - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - docker build --tag $STAGING_IMAGE_NAME -f $DOCKERFILE_LOCATION .
  after_script:
  - docker push $STAGING_IMAGE_NAME
  variables:
  ...

staging liquibase:
  stage: pre-staging
  image: docker:stable-git
  services:
  - docker:stable-dind
  before_script:
  - - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
  - docker build --tag $STAGING_IMAGE_NAME -f $DOCKERFILE_LOCATION .
  after_script:
  - docker push $STAGING_IMAGE_NAME
  variables:
  ...

Fix Dockerfile
  Docker/tomcat/Dockerfile.gitlab
Due: dockerfile

Fix dockerfile
  Docker/tomcat/Dockerfile.gitlab
Due: dockerfile

Tweaked mvn command.
  Docker/dependencies/Dockerfile
Due: build dependencies

Fixed Rserve build error. Fixed compose building of cch_tomcat.
  Docker/rserve/Dockerfile
  Docker/rserve/Dockerfile.gitlab
  docker-compose.yml
Due: dockerfile, staging rserve

feat: Removing tomcat building and config from this repo
  Docker/tomcat/Dockerfile.gitlab
  coastal-hazards-geoserver/Dockerfile.gitlab
  coastal-hazards-n52/Dockerfile.gitlab
  coastal-hazards-portal/Dockerfile.gitlab
Due: dockerfile, staging portal, staging n52, staging geoserver

Removing tomcat building and config from this repo
  .gitlab-ci.yml
Due: none

chore(release): 1.0.0-development.6 \n\n## [1.0.0-development.6](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.5...1.0.0-development.6) (2020-07-29)
  CHANGELOG.md
Due: none

Make some catalina opts dynamic
  coastal-hazards-geoserver/Dockerfile.gitlab
  coastal-hazards-geoserver/docker/setenv.sh
  coastal-hazards-n52/Dockerfile.gitlab
  coastal-hazards-n52/docker/setenv.sh
  coastal-hazards-portal/Dockerfile.gitlab
  coastal-hazards-portal/docker/setenv.sh
Due: dockerfile, staging portal, staging n52, staging geoserver

chore(release): 1.0.0-development.7 \n\n## [1.0.0-development.7](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.6...1.0.0-development.7) (2020-07-29)
  CHANGELOG.md
Due: none

fix: Cleanup catalina opts
  coastal-hazards-geoserver/docker/setenv.sh
Due: staging geoserver

chore(release): 1.0.0-development.8 \n\n## [1.0.0-development.8](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.7...1.0.0-development.8) (2020-07-30)
  CHANGELOG.md
Due: none

feat: Add some java opts
  coastal-hazards-geoserver/Dockerfile.gitlab
  coastal-hazards-geoserver/docker/setenv.sh
  coastal-hazards-n52/Dockerfile.gitlab
  coastal-hazards-n52/docker/setenv.sh
  coastal-hazards-portal/Dockerfile.gitlab
  coastal-hazards-portal/docker/setenv.sh
Due: dockerfile, staging portal, staging n52, staging geoserver

chore(release): 1.0.0-development.9 \n\n## [1.0.0-development.9](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.8...1.0.0-development.9) (2020-07-30)
  CHANGELOG.md
Due: none

feat: Add more java options
  coastal-hazards-geoserver/docker/setenv.sh
Due: staging geoserver

chore(release): 1.0.0-development.10 \n\n## [1.0.0-development.10](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.9...1.0.0-development.10) (2020-07-30)
  CHANGELOG.md
Due: none

feat: Remove unused JVM options
  coastal-hazards-geoserver/docker/setenv.sh
Due: staging geoserver

chore(release): 1.0.0-development.11 \n\n## [1.0.0-development.11](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.10...1.0.0-development.11) (2020-07-30)
  CHANGELOG.md
Due: none

feat: Fix setenv for all the things
  coastal-hazards-geoserver/docker/setenv.sh
  coastal-hazards-n52/docker/setenv.sh
  coastal-hazards-portal/docker/setenv.sh
Due: staging portal, staging n52, staging geoserver

chore(release): 1.0.0-development.12 \n\n## [1.0.0-development.12](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.11...1.0.0-development.12) (2020-07-30)
  CHANGELOG.md
Due: none

integer uvvr
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/RasterUvvr.java
  coastal-hazards-portal/src/main/webapp/js/cch/objects/LayerIdentifyControl.js
Due: staging portal

set 65535 exception
  coastal-hazards-portal/src/main/webapp/js/cch/objects/LayerIdentifyControl.js
Due: staging portal

remove duplicate uvvr_raster condition
  coastal-hazards-portal/src/main/webapp/js/cch/objects/LayerIdentifyControl.js
Due: staging portal

Tweaks to local development setup for externalized CCH Tomcat image.
  coastal-hazards-geoserver/Dockerfile
  coastal-hazards-n52/Dockerfile
  coastal-hazards-portal/Dockerfile
  docker-compose.yml
Due: staging portal, staging n52, staging geoserver

feat: Update to new version of base Tomcat image
  coastal-hazards-geoserver/Dockerfile
  coastal-hazards-geoserver/Dockerfile.gitlab
  coastal-hazards-n52/Dockerfile
  coastal-hazards-n52/Dockerfile.gitlab
  coastal-hazards-portal/Dockerfile
  coastal-hazards-portal/Dockerfile.gitlab
Due: dockerfile, staging portal, staging n52, staging geoserver

chore(release): 1.0.0-development.13 \n\n## [1.0.0-development.13](https://code.chs.usgs.gov/cmgp/coastal-hazards/compare/1.0.0-development.12...1.0.0-development.13) (2020-08-11)
  CHANGELOG.md
Due: none

Fix psurge storm metadata parsing.
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/rest/data/util/StormUtil.java
Due: staging portal

[maven-release-plugin] prepare release coastal-hazards-1.1.72
  coastal-hazards-commons/pom.xml
  coastal-hazards-export/pom.xml
  coastal-hazards-geoserver/pom.xml
  coastal-hazards-liquibase/pom.xml
  coastal-hazards-n52/pom.xml
  coastal-hazards-portal/pom.xml
  coastal-hazards-wps/pom.xml
  ehcache-shaded/pom.xml
  pom.xml
Due: build dependencies, staging portal, staging n52, staging geoserver, staging liquibase

[maven-release-plugin] prepare for next development iteration
  coastal-hazards-commons/pom.xml
  coastal-hazards-export/pom.xml
  coastal-hazards-geoserver/pom.xml
  coastal-hazards-liquibase/pom.xml
  coastal-hazards-n52/pom.xml
  coastal-hazards-portal/pom.xml
  coastal-hazards-wps/pom.xml
  ehcache-shaded/pom.xml
  pom.xml
Due: build dependencies, staging portal, staging n52, staging geoserver, staging liquibase

Add logging to error page JSP generation.
  coastal-hazards-portal/src/main/webapp/WEB-INF/jsp/server-error/index.jsp
Due: staging portal

Add missing envs to local Dockerfiles.
  coastal-hazards-geoserver/Dockerfile
  coastal-hazards-n52/Dockerfile
  coastal-hazards-portal/Dockerfile
Due: staging portal, staging n52, staging geoserver

Add fix for Liquibase GitLab Dockerfile.
  coastal-hazards-liquibase/Dockerfile.gitlab
Due: dockerfile, staging liquibase

Made WPS Config file properties configurable via ENVs.
  coastal-hazards-n52/Dockerfile
  coastal-hazards-n52/Dockerfile.gitlab
  coastal-hazards-n52/docker/startup.sh
  coastal-hazards-n52/docker/wps_config.xml
  docker-compose.yml
Due: dockerfile, staging n52

First implementation of FloodMask Polygon dataset support. Slight tweak to error page logging.
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/Attributes.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/FloodMask.java
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/SLDGenerator.java
  coastal-hazards-portal/src/main/webapp/WEB-INF/jsp/SLD/categorical_polygon.jsp
  coastal-hazards-portal/src/main/webapp/WEB-INF/jsp/server-error/index.jsp
  coastal-hazards-portal/src/main/webapp/js/cch/objects/LayerIdentifyControl.js
  coastal-hazards-portal/src/test/java/gov/usgs/cida/coastalhazards/AttributesTest.java
Due: staging portal

Convert to Python 3.8. Replace method for identifying GeoServer services from CCH items. Update documentation and help.
  util/layer-sweep/README.md
  util/layer-sweep/find_dangling_layers.py
  util/layer-sweep/requirements.txt
Due: none

Fix duplicate var
  util/layer-sweep/find_dangling_layers.py
Due: none

initial forecast
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/Attributes.java
Due: staging portal

add forecast sld
  coastal-hazards-portal/src/main/java/gov/usgs/cida/coastalhazards/sld/Forecast.java
Due: staging portal

include /rest/ part of geoserver urls
  util/layer-sweep/README.md
Due: none

Path conditions:
  dockerfile: any of: **/Dockerfile.gitlab
  build dependencies: any of: **/pom.xml, Docker/dependencies/Dockerfile, Docker/dependencies/artifactory-settings.xml
  staging rserve: any of: Docker/rserve/*
  staging portal: any of: coastal-hazards-portal/**/*
  staging n52: any of: coastal-hazards-n52/**/*
  staging geoserver: any of: coastal-hazards-geoserver/**/*
  staging liquibase: any of: coastal-hazards-liquibase/**/*
